
*{
    padding: 0%;
    margin: 0%;
}

body {
    overflow-x: hidden;
    font-family: sans-serif;
}

header h3{
    font-weight: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#menuLateral {
    width: 20vw;
    position: fixed;
    left: -20vw;
    height: 100%;
    background-color: #f8f9fa;
    transition: left 0.3s ease;
    z-index: 100;
    padding-top: 2em;
}

#conteudo {
    transition: margin-left 0.3s ease, width 0.3s ease;
    margin-right: 0;
    padding: 2em;
    overflow-x: hidden;
    width: 100%;
}

.menu-aberto #menuLateral {
    left: 0;
}

.menu-aberto #conteudo {
    margin-left: 20vw;
    width: calc(100% - 20vw);
}


.card-header {
    background-color: rgb(0, 80, 155);
}

#conteudo {
    max-width: 100%;
}

.navbar {
    z-index: 200;
}

#menuLateral h5 {
    margin-top: 0;
    padding-top: 1em;
}


@media (max-width: 768px) {

    header img{
        display: none;
    }

    #menuLateral {
        width: 100%;
        left: -100%;
    }

    .menu-aberto #menuLateral {
        left: 0;
    }

    .menu-aberto #conteudo {
        margin-left: 0;
        margin-top: 4em;
        width: 100%;
    }

    .pagination-title {
        display: none;
    }

    .pagination-emoji {
        display: flex;
        font-size: 1em;
        justify-content: center;
        margin-left: 0 !important;
    }


}

